services:
  hord_server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: hord_server
    volumes:
      - static-data:/vol/server
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    environment:
      - DEBUG=${DEBUG}
      - DB_HOST=hord_db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - CSRF_TRUSTED_ORIGINS=${CSRF_TRUSTED_ORIGINS}
    depends_on:
      - hord_db
    links:
      - hord_db:hord_db
    expose:
      - 8000
    entrypoint: /app/server/entrypoint.sh

  hord_db:
    container_name: hord_db
    image: postgres:15
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_HOST=${DB_HOST}
    ports:
      - "5432:5432"

  hord_client:
    container_name: hord_client
    restart: always
    build:
      context: ./client
      dockerfile: Dockerfile
    environment:
      - DB_HOST=hord_db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
    depends_on:
      - hord_server
    links:
      - hord_server:hord_server
    ports:
      - "3000:3000"

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/:ro
      - ./certs:/etc/letsencrypt/live/hord.tech/:ro
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    depends_on:
      - hord_client
      - hord_server

volumes:
  postgres-data:
  static-data:
  static_volume:
  media_volume:
